@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 248 38% 98%;
        --foreground: 248 80% 0%;
        --muted: 248 23% 88%;
        --muted-foreground: 248 10% 37%;
        --popover: 248 38% 98%;
        --popover-foreground: 248 80% 0%;
        --card: 248 38% 98%;
        --card-foreground: 248 80% 0%;
        --border: 248 12% 88%;
        --input: 248 12% 88%;
        --primary: 209.86 100% 42.94%;
        --primary-foreground: 0 0% 100%;
        --secondary: 248 4% 82%;
        --secondary-foreground: 248 4% 22%;
        --accent: 248 4% 82%;
        --accent-foreground: 248 4% 22%;
        --destructive: 356.94 100% 46.08%;
        --destructive-foreground: 0 0% 100%;
        --ring: 209.86 100% 42.94%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 248 40% 2%;
        --foreground: 248 17% 99%;
        --muted: 248 23% 12%;
        --muted-foreground: 248 10% 63%;
        --popover: 248 40% 2%;
        --popover-foreground: 248 17% 99%;
        --card: 248 40% 2%;
        --card-foreground: 248 17% 99%;
        --border: 248 12% 15%;
        --input: 248 12% 15%;
        --primary: 210.13 100% 55.1%;
        --primary-foreground: 210.39 100% 15.1%;
        --secondary: 248 19% 20%;
        --secondary-foreground: 248 19% 80%;
        --accent: 248 19% 20%;
        --accent-foreground: 248 19% 80%;
        --destructive: 356.74 100% 63.92%;
        --destructive-foreground: 0 100% 16.08%;
        --ring: 210.13 100% 55.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans text-foreground antialiased;
    }

    .heading1 {
        @apply text-4xl font-semibold lg:text-5xl lg:!leading-snug xl:text-6xl;
    }

    .heading2 {
        @apply text-3xl font-semibold lg:text-4xl;
    }

    .heading3 {
        @apply text-lg font-semibold;
    }

    .heading4 {
        @apply text-base font-semibold;
    }

    p {
        @apply text-muted-foreground;
    }
}
